.lobby {
	height: 100vh;
	display: flex;
	place-items: center;
	justify-content: center;
	background-image: url('/src/assets/images/chat_bg_v2.jpg');
}
.lobby__content {
	background-color: #ededed;
	padding: 3rem;
	min-height: 15rem;
}
